:root {
  --onda-blue: #003366;
  --onda-light-blue: #0073cf;
  --onda-gray: #f8f9fa;
  --onda-white: #ffffff;
  --text-dark: #333;
  --transition: 0.3s ease;
  --header-h: 64px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  overflow:scroll;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  background: linear-gradient(135deg, var(--onda-gray) 0%, #e9edf2 100%);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: var(--header-h);
}

main {
  flex: 1 0 auto;
  padding: 0;
  margin: 1rem; 
  bottom: 0;;
}
